<div class="container w-100 alert-success">
  <div class="row">
    <div class="col d-block text-center my-3">
      <button
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#carrito-modal"
      ><i class="material-icons">shopping_cart</i></button>
    </div>
  </div>
</div>